[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pandas = "*"
pystan = "*"
prophet = "*"

[dev-packages]

[requires]
python_version = "3.8"
